html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

marquee {
	background-color: #8B9DC3;
	color: #fff;
	padding: 10px 0;
	font-size: 18px;
	line-height: 20px;
	display: block
}

marquee a {
	color: #fff;
	padding: 0 20px;
	display: inline-block;
	text-decoration: none;
}

marquee a:hover {
	color: #fff;
}

marquee a+a {
	margin-left: 50px
}