.login_logo {
  margin-bottom: 40px;
}

.login_facebook_link,
.login_facebook_link:hover {
  color: white;
  text-decoration: none;
}

.bottom_link {
  color: inherit;
}

.bottom_link:hover {
  text-decoration: none;
}
